.container {
    height: 500px;
    width: 1200px;
	background-color: white;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    box-shadow: 5px 4px 0px 0px #1c1b18;
}

:root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    background-color: rgb(41, 41, 41);
}

.title, .text {
    color:black;
	font-family:Arial;
    text-shadow:1px 1px 0px rgb(114, 114, 114);
    font-weight:bold;
}
